@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
    font-family: 'Lato', sans-serif;
}

.img-fondo{
    background-image: url(./imagenes/imagen-pared1.jpg);

}

.price{
    font-style: italic;
    font-size: large;

}

h1{
    border-radius:5px; margin-left: 565px; margin-right: 565px;
}

.numericUpDown{
    background-color: rgb(211, 208, 208) !important;
}

.icono-tienda{
    width: 20px;
    height: 20px;
}

.carritoicono{
    width: 35px;
}


.carritobtn:hover{
    background-color: rgb(100, 100, 99);

    border-radius: 7px;
}

#btncarrito{
    border:none;
}